{
    "branches": ["develop"],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        ["@semantic-release/changelog", {
            "changelogFile": "CHANGELOG.md"
        }],
        "@semantic-release/github",
        ["@semantic-release/npm", {
            "npmPublish": false
        }],
        ["@semantic-release/git", {
            "assets": ["CHANGELOG.md", "package.json", "yarn.lock"],
            "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
        }]
    ],
    "dryRun": false,
    "debug": true
}
