@import './project-page.module.scss';

.call-to-action-buttons-container {
  justify-content: space-around;
}

.call-to-action-buttons {
  border-radius: 5px;
}

.sub-project-list {
  padding: 0;
}

.sub-project {
  display: flex;
  margin-bottom: 16px;
  list-style-type: none;
  border: 1px solid var(--color-neutrals-300);
  background: var(--primary-background-color);
  box-sizing: border-box;
  box-shadow: 0px 0.249053px 0.553451px rgba(0, 0, 0, 0.00562291), 0px 0.598509px 1.33002px rgba(0, 0, 0, 0.00807786), 0px 1.12694px 2.50431px rgba(0, 0, 0, 0.01), 0px 2.01027px 4.46726px rgba(0, 0, 0, 0.0119221), 0px 3.75998px 8.35552px rgba(0, 0, 0, 0.0143771), 0px 9px 20px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.sub-project-copy {
  flex-grow: 1;
  padding: 12px 16px;
}

.sub-project-name {
  margin: 0 0 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-neutrals-900);
}

.sub-project-description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-neutrals-600);
}

.sub-project-call-to-action {
  min-width: 163px;
  display: grid;
  place-items: center;
  border-left: 1px dotted var(--color-neutrals-300);
}

// ==============================================================
// Responsive styles
// ==============================================================

@media screen and (max-width: 480px) {
  .sub-project {
    text-align: center;
    flex-direction: column;
  }

  .sub-project-call-to-action {
    margin-bottom: 16px;
  }
}