.repo-stats {
  padding: 0;
  list-style-type: none;
}

.repo-stat {
  display: flex;
  border-bottom: 1px solid var(--color-neutrals-100);
  padding: 10px 0;
  font-size: 14px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border: none;
  }
}

.repo-stat-icon {
  display: inline-block;
  margin-right: 8px;
}

.repo-stat-count {
  margin-right: 8px;
  background-color: var(--color-neutrals-100);
  padding: 0px 4px;
  border-radius: 4px;
  font-size: 13px;
  color: var(--color-neutrals-700);
  font-variant-numeric: tabular-nums;
  font-weight: 600;
}

.repo-stat-label {
  color: var(--color-neutrals-700);
  border: none;

  &:hover {
    color: var(--color-brand-800);
  }
}

.call-to-action-buttons {
  padding: 16px 16px 10px;
  background-color: var(--color-neutrals-100);
  border-radius: 5px 5px 0 0;
}

.call-to-action-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  button:first-child {
    margin-right: 11px;
  }
}

.call-to-action-support {
  display: block;
  text-align: center;
  font-size: 10px;
  color: var(--color-neutrals-600);
}

.call-to-action-category-specification {
  padding: 16px 18px;
  box-shadow: inset 0 0 0 3px var(--color-neutrals-100);
  border-radius: 0 0 5px 5px;
}

.call-to-action-category {
  margin: 0 0 4px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: .5px;

  a {
    border: none;
  }
}

p.call-to-action-description {
  margin: 6px 0 0;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-neutrals-600);
}

.project-screenshots-container {
  position: relative;

  &:after {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left, white, transparent);
  }
}

.project-screenshot-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  padding: 1px 5px 15px 1px;
  margin-bottom: -5px;

  list-style-type: none;
  scroll-snap-type: x mandatory;
  overscroll-behavior: none;
}

.project-screenshot-list-item {
  height: 130px;
  flex: 0 0 auto;
  line-height: 3px;
  margin-right: 15px;
  padding: 4px;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgba(0,0,0, .1);
  scroll-snap-align: start;

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    position: relative;
    z-index:10;
  }

  img {
    height: 100%;
  }
}

.react-images__view-image {
  display: block;
  max-height: 80vh;
  margin: 0 auto;
}

.project-screenshot-link {
  border: none;
}

.project-screenshot {
  max-height: 100%;
  position: relative;
  z-index: -1;
  object-fit: fill;
}

.project-page-issue {
  display: block;
  margin-bottom: 12px;
  box-shadow: inset 0 0 0 2px var(--color-neutrals-200);
  border-radius: 4px;
  border-bottom: none;
}

.project-page-issue-header {
  display: flex;

  padding: 8px 12px;
}

.project-page-issue-header-icon {
  margin-right: 8px;
}

.project-page-issue-header-title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: var(--color-neutrals-800);
}

.project-page-issue-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 12px;
  border-radius: 0 0 5px 5px;
  background-color: var(--color-neutrals-200);
}

.project-page-issue-footer-meta {
  font-size: 11px;
  color: var(--color-neutrals-700);
  opacity: .7;
}

.project-page-issue-footer-discussion {
  display: flex;
  align-items: center;
}

.project-page-issue-footer-discussion-icon {
  margin-right: 4px;
  position: relative;
  top: 1px;
  width: 12px;
}

.project-page-issue-footer-discussion-count {
  font-size: 11px;
  color: var(--color-neutrals-600);
  font-weight: 600;
  position: relative;
  bottom: 1px;
}