.project-page-layout {
  header:after {
    transform: skewY(-4.5deg);
    top: -80px;
  }
}

.primary-content-aside {
  h4 {
    margin-top: 1rem;
  }
}

.primary-content-main {
  a {
    font-size: 14px;

    &[target='__blank']:after {
      content: '';
      width: 12px;
      height: 12px;
      display: inline-block;
      margin-left: 4px;
      position: relative;
      top: 1px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url('../images/icon-external-link.svg');
    }
  }

  p strong {
    font-weight: 600;
    color: var(--color-neutrals-800);
  }

  ul {
    font-size: 14px;
    line-height: 22px;
  }
}

.repo-stats {
  padding: 0;
  list-style-type: none;
}

.repo-stat {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
  font-size: 14px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border: none;
  }
}

.repo-stat-icon {
  display: inline-block;
  margin-right: 8px;
}

.repo-stat-count {
  margin-right: 8px;
  background-color: var(--color-neutrals-100);
  padding: 0px 4px;
  border-radius: 4px;
  font-size: 13px;
  color: var(--color-neutrals-700);
  font-variant-numeric: tabular-nums;
  font-weight: 600;
}

.repo-stat-label {
  color: var(--color-neutrals-700);
  border: none;
  text-decoration: none;

  &:hover {
    color: var(--color-brand-800);
  }
}

.call-to-action-buttons {
  padding: 16px 16px 10px;
  background-color: var(--color-neutrals-100);
  border-radius: 5px 5px 0 0;
}

.call-to-action-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;

  button:first-child {
    margin-right: 11px;
  }
  .button:first-child {
    margin-right: 11px;
  }
}

.call-to-action-support {
  display: block;
  text-align: center;
  font-size: 10px;
  color: var(--color-neutrals-600);
}

.call-to-action-category-specification {
  padding: 16px 18px;
  box-shadow: inset 0 0 0 3px var(--color-neutrals-100);
  border-radius: 0 0 0 0;
}

.call-to-action-category {
  margin: 0 0 4px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;

  a {
    border: none;
  }
}

p.call-to-action-description {
  margin: 6px 0 0;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-neutrals-600);
}

.project-screenshots-container {
  position: relative;

  &:after {
    content: '';
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  }
}

.project-screenshot-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  padding: 1px 5px 8px 1px;
  margin-bottom: -5px;

  list-style-type: none;
  scroll-snap-type: x mandatory;
  overscroll-behavior: none;
}

.project-screenshot-list-item {
  height: 130px;
  flex: 0 0 auto;
  line-height: 3px;
  margin-right: 15px;
  padding: 4px;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    position: relative;
    z-index: 200;
  }

  img {
    height: 100%;
  }
}

.react-images__view-image {
  display: block;
  max-height: 80vh;
  margin: 0 auto;
}

.project-screenshot-link {
  border: none;
}

.project-screenshot {
  max-height: 100%;
  position: relative;
  z-index: -1;
  object-fit: fill;
}

.project-page-issue {
  display: block;
  margin-bottom: 12px;
  box-shadow: inset 0 0 0 2px var(--color-neutrals-200);
  border-radius: 4px;
  border-bottom: none;
}

.project-page-issue-header {
  display: flex;

  padding: 8px 12px;
}

.project-page-issue-header-icon {
  margin-right: 8px;
}

.project-page-issue-header-title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: var(--color-neutrals-800);
}

.project-page-issue-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 12px;
  border-radius: 0 0 5px 5px;
  background-color: var(--color-neutrals-200);
}

.project-page-issue-footer-meta {
  font-size: 11px;
  color: var(--color-neutrals-700);
  opacity: 0.7;
}

.project-page-issue-footer-discussion {
  display: flex;
  align-items: center;
}

.project-page-issue-footer-discussion-icon {
  margin-right: 4px;
  position: relative;
  top: 1px;
  width: 12px;
}

.project-page-issue-footer-discussion-count {
  font-size: 11px;
  color: var(--color-neutrals-600);
  font-weight: 600;
  position: relative;
  bottom: 1px;
}

.license-footnote {
  display: block;
  margin-top: 8px;
  margin-bottom: -3px;
  text-align: center;
  font-size: 12px;
  color: var(--color-neutrals-600);

  strong {
    font-weight: 600;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.button-icon {
  line-height: 11px;
  margin-right: 8px;
}

.sidebar-tags {
  list-style-type: none;
  padding: 0;
}

.sidebar-tag-list-tag {
  display: inline-block;
  margin-bottom: 8px;
  background-color: var(--color-neutrals-100);
  color: var(--color-neutrals-600);
  font-size: 12px;
  padding: 2px 8px;
  margin-right: 8px;
  border-radius: 3px;
  transition: all 0.07s var(--ease-out-quad);

  &:hover {
    transform: translateY(-1px);
    background-color: rgba(112, 204, 210, 0.17);

    a {
      color: var(--color-brand-800);
    }
  }

  a {
    color: var(--color-neutrals-700);
    border: none;
    transition: all 0.09s var(--ease-out-quad);
  }
}

.page-heading-CTA {
  display: none;
  flex-direction: row;
}

// ==============================================================
// Responsive styles
// ==============================================================

@media screen and (max-width: 1024px) {
  .call-to-action-buttons-container {
    display: flex;
    flex-direction: column;

    a {
      justify-content: center;
    }
    a:first-child {
      margin-bottom: 8px;
    }
  }

  .page-heading-CTA {
    display: none;
  }
}

@media screen and (max-width: 724px) {
  .project-page-layout header:after {
    transform: skewY(-4.5deg);
    top: -133px;
  }

  .page-heading-CTA {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: -8px;

    a {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .primary-content-aside {
    .call-to-action-buttons-container {
      flex-direction: row;
      justify-content: stretch;
      align-items: center;
      padding-bottom: 0;

      a {
        width: 100%;
        margin-bottom: 0;
      }

      a:first-child {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .project-page-layout header:after {
    top: -140px;
  }
}

@media screen and (max-width: 400px) {
  .primary-content-aside {
    .call-to-action-buttons-container {
      flex-direction: column;
      align-items: center;

      a {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0px;
      }

      a:first-child {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
}

// ==============================================================
// Dark mode
// ==============================================================
:global(.dark-mode) {
  .primary-content-main {
    a {
      &[target='__blank']:after {
        background-image: url('../images/icon-external-link-light.svg');
      }
    }
  }

  .project-screenshots-container {
    &:after {
      background-image: linear-gradient(
        to left,
        var(--primary-background-color),
        rgba(28, 42, 47, 0)
      );
    }
  }

  .call-to-action-buttons {
    background-color: var(--color-neutrals-300);
  }

  .call-to-action-category-specification {
    box-shadow: inset 0 0 0 3px var(--color-neutrals-300);
  }

  .project-screenshot-list-item {
    opacity: 0.5;
    transition: opacity 0.1s var(--ease-out-quad);

    &:hover {
      opacity: 1;
    }
  }

  .repo-stat-count {
    color: var(--color-neutrals-900);
    background-color: var(--color-neutrals-200);
  }
}
