.hero-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  max-width: 980px;
  margin: 60px auto 0;
  perspective: 2000px;
}

.homepage-hero-copy {
  width: 45%;
  transition: opacity .2s var(--ease-out-quad);
}

.homepage-hero-heading {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 101.8%;
  font-weight: 500;
  color: var(--color-neutrals-900);
}

.homepage-hero-body-copy {
  margin-top: 0;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-neutrals-600);

  &:first-child {
    margin-right: 16px;
  }
}

.homepage-hero-video {
  width: 50%;
  height: 276px;
  border-radius: 4px;
  left: 50%;  
  background-size: cover;
  transform: rotateX(-3deg) rotateY(-15deg);
  transition: all .5s var(--ease-out-quad);
  transform-style: preserve-3d;
  perspective: 2000px;

  // drop shadow
  &:before {
    border-radius: 4px;
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    left: 15px;
    z-index: -10;
    transform: translateZ(-1px);
    box-shadow: 
      0px 1.24527px 3.09933px rgba(26, 46, 52, 0.0759093), 
      0px 2.99255px 7.44811px rgba(26, 46, 52, 0.109051), 
      0px 5.6347px 14.0241px rgba(26, 46, 52, 0.135), 
      0px 10.0513px 25.0167px rgba(26, 46, 52, 0.160949), 
      0px 18.7999px 46.7909px rgba(26, 46, 52, 0.194091), 
      0px 45px 112px rgba(26, 46, 52, 0.27);
    transition: all .4s var(--ease-out-quad);
  }

  // cover shine and shadow
  &:after {
    content: "";
    opacity: .25; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    background: linear-gradient(-32deg, rgba(95, 95, 95, 1) 20%, rgba(255, 255, 255, 0.7) 60%);
    transition: all .4s var(--ease-out-quad);
  }
  
  &:hover {
    cursor: pointer;
    transform: rotateX(0deg) rotateY(0deg) translateZ(30px);

    &:before {
      right: 35px;
      left: 35px;
      opacity: .875;
      box-shadow: 
        0px 6.24527px 8.09933px rgba(26, 46, 52, 0.0759093), 
        0px 9.99255px 13.44811px rgba(26, 46, 52, 0.109051), 
        0px 10.6347px 25.0241px rgba(26, 46, 52, 0.135), 
        0px 20.0513px 35.0167px rgba(26, 46, 52, 0.160949), 
        0px 35.7999px 50.7909px rgba(26, 46, 52, 0.194091), 
        0px 65px 112px rgba(26, 46, 52, 0.27);
    }

    &:after {
      opacity: .095;
    }

    .play-button {
      transform: scale(.91) translateZ(20px);
      box-shadow: 
        0px 2.76726px 5.21381px rgba(21, 33, 39, 0.0590406), 
        0px 6.6501px 10.32008px rgba(21, 33, 39, 0.0848175), 
        0px 12.5216px 15.0172px rgba(21, 33, 39, 0.105), 
        0px 22.3363px 25.869px rgba(21, 33, 39, 0.125183), 
        0px 41.7776px 36.4221px rgba(21, 33, 39, 0.150959), 
        0px 100px 80px rgba(21, 33, 39, 0.21),
        0 0 0 4px rgba(0, 80, 84, .1);
      transition: .25s var(--ease-out-quad);
    }
  }
  
  &:active .play-button {
    transform: scale(.85) translateZ(20px);
  }

  .iframe-container {
    display: block;
    overflow: hidden;
    height: 276px;
    pointer-events: none;
    opacity: 0;
    border-radius: 4px;
    z-index: 1;
    transition: opacity 1s var(--ease-out-quad);
    transition-delay: .5s;
    
    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background-color: var(--color-neutrals-900);
      pointer-events: none;
      border-radius: 5px;
    }
  }
}

img.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -41px;
  margin-top: -38px;
  box-shadow: 
    0px 2.76726px 2.21381px rgba(21, 33, 39, 0.0590406), 
    0px 6.6501px 5.32008px rgba(21, 33, 39, 0.0848175), 
    0px 12.5216px 10.0172px rgba(21, 33, 39, 0.105), 
    0px 22.3363px 17.869px rgba(21, 33, 39, 0.125183), 
    0px 41.7776px 33.4221px rgba(21, 33, 39, 0.150959), 
    0px 100px 80px rgba(21, 33, 39, 0.21);

  border-radius: 50%;
  transition: transform .4s var(--ease-out-quad), opacity .4s var(--ease-out-quad), box-shadow .35s var(--ease-out-quad);
  transition-delay: .025s;
  transform: scale(.9) translateZ(20px);
  z-index: 10;
  user-select: none;
  
  .homepage-hero-video &:hover {
    box-shadow: 
    0px 2.76726px 2.21381px rgba(21, 33, 39, 0.0590406), 
    0px 6.6501px 5.32008px rgba(21, 33, 39, 0.0848175), 
    0px 12.5216px 10.0172px rgba(21, 33, 39, 0.105), 
    0px 22.3363px 17.869px rgba(21, 33, 39, 0.125183), 
    0px 41.7776px 33.4221px rgba(21, 33, 39, 0.150959), 
    0px 100px 80px rgba(21, 33, 39, 0.21),
    0 0 0 8px rgba(0, 80, 84, .15);
    transform: scale(.95) translateZ(20px);
    transition: transform .15s var(--ease-out-quad), box-shadow .25s var(--ease-out-quad);
  }
  
  .homepage-hero-video &:active {
    transform: scale(.9) translateZ(20px);
  }
}

.hero-video-active {
  overflow:hidden;

  .hero-container {
    z-index: 10000; 
    transform: all .2s var(--ease-out-quad);
  }

  .homepage-hero-copy {
    opacity: 0;
  }

  .homepage-hero-video {
    overflow: visible;
    transform: rotateX(0deg) rotateY(0deg) translateZ(1000px) translateX(-50%) translateY(45px);
    box-shadow: 0px 0.913195px 2.21381px rgba(9, 21, 23, 0.168687), 0px 2.19453px 5.32008px rgba(9, 21, 23, 0.242336), 0px 4.13211px 10.0172px rgba(9, 21, 23, 0.3), 0px 7.37098px 17.869px rgba(9, 21, 23, 0.357664), 0px 13.7866px 33.4221px rgba(9, 21, 23, 0.431313), 0px 33px 80px rgba(9, 21, 23, 0.6);
  
    &:hover {
      transform: rotateX(0deg) rotateY(0deg) translateZ(1000px) translateX(-50%) translateY(45px);
  
      &:after {
        opacity: 1;
      }
    }
  }

  .play-button {
    transition: opacity .2s var(--ease-out-quad);
    opacity: 0;
  }

  .homepage-hero-video:after {
    transition: opacity .4s var(--ease-out-quad);
    opacity: 1;
    background-image: none;
    background-color: rgba(0,0,0, 1);
  }

  .video-modal-overlay {
    z-index: 1000;
    opacity: .9;
    pointer-events: inherit;
  }

  .iframe-container {
    opacity: 1;
    overflow: visible;
    position: absolute;
    z-index: 100000;
    transform: scale(0.49) translate(-52%, -52%);
    pointer-events: all;

    &:before {
      opacity: 0;
    }
  }
}

.video-modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #2a3434;
  pointer-events: none;
  transition: all .4s var(--ease-out-quad);
}

.modal-close-button {
  pointer-events: none;
  position: absolute;
  transform: scale(.5);
  top: -15px;
  right: -15px;
}

.featured-internal-projects-section-title {
  margin-bottom: 9px;
  padding-top: 15px;
  line-height: 40px;
  position: relative;
  font-size: 36px;
  color: var(--color-neutrals-900);
  font-family: var(--secondary-font-family);
  text-align: center;
  font-weight: 400;

  &:before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--color-brand-800);
    position: absolute;
    left: 50%;
    top: -5px;
    margin-left: -25px;
  }
}

.featured-internal-projects-section-description {
  margin-top: 0;
  margin-bottom: 39px;
  text-align: center;
  font-size: 18px;
  color: var(--color-neutrals-600);
}

.recent-articles-container {
  margin-top: 80px;
  padding: 50px 0;
  
  &:before {
    content: "";
    width: 100%;
    height: 544px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color-neutrals-100);

  }
}

.recent-articles-section-title {
  margin-top: 47px;
  line-height: 40px;
  position: relative;
  font-size: 36px;
  color: var(--color-neutrals-900);
  font-family: var(--secondary-font-family);
  text-align: center;
  font-weight: 400;
}

.recent-articles-section-description {
  margin-top: 0;
  margin-bottom: 39px;
  text-align: center;
  font-size: 18px;
  color: var(--color-neutrals-600);
}
