.hero-container {
  max-width: 980px;
  margin: 60px auto 0;
}

.homepage-hero-heading {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 126.6%;
  color: var(--color-neutrals-800);
}

.homepage-hero-body {
  display: flex;
}

.homepage-hero-body-copy {
  margin-top: 0;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-neutrals-600);

  &:first-child {
    margin-right: 16px;
  }
}

.featured-internal-projects-section-title {
  margin-bottom: 9px;
  padding-top: 15px;
  line-height: 40px;
  position: relative;
  font-size: 36px;
  color: var(--color-neutrals-900);
  font-family: var(--secondary-font-family);
  text-align: center;
  font-weight: 400;

  &:before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--color-brand-800);
    position: absolute;
    left: 50%;
    top: -5px;
    margin-left: -25px;
  }
}

.featured-internal-projects-section-description {
  margin-top: 0;
  margin-bottom: 39px;
  text-align: center;
  font-size: 18px;
  color: var(--color-neutrals-600);
}

.recent-articles-container {
  margin-top: 80px;
  padding: 50px 0;
  
  &:before {
    content: "";
    width: 100%;
    height: 544px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color-neutrals-100);

  }
}

.recent-articles-section-title {
  margin-top: 47px;
  line-height: 40px;
  position: relative;
  font-size: 36px;
  color: var(--color-neutrals-900);
  font-family: var(--secondary-font-family);
  text-align: center;
  font-weight: 400;
}

.recent-articles-section-description {
  margin-top: 0;
  margin-bottom: 39px;
  text-align: center;
  font-size: 18px;
  color: var(--color-neutrals-600);
}
