.category-sidebar-list {
  list-style-type: none;
  padding: 0;
}

.category-sidebar-item {
  padding: 2px 0;
}

.category-sidebar-item-link {
  border: none;
}

.categories-navigation {
  position: sticky;
  top: 20px;
}

.category-image {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color-neutrals-300);
  box-shadow: 0px 0.249053px 0.553451px rgba(0, 0, 0, 0.00562291), 0px 0.598509px 1.33002px rgba(0, 0, 0, 0.00807786), 0px 1.12694px 2.50431px rgba(0, 0, 0, 0.01), 0px 2.01027px 4.46726px rgba(0, 0, 0, 0.0119221), 0px 3.75998px 8.35552px rgba(0, 0, 0, 0.0143771), 0px 9px 20px rgba(0, 0, 0, 0.02);
  padding: 10px;
  background-color: var(--primary-background-color);
  border-radius: 4px;
}

.category-title {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--border-color);

  &:first-child {
    padding-top: 0;
  }
}