.item-container {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 10px;
  padding: 8px 10px;
  height: 41px;
  align-items: center;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  box-shadow:
    0px 0.249053px 0.553451px rgba(0, 0, 0, 0.00562291),
    0px 0.598509px 1.33002px rgba(0, 0, 0, 0.00807786),
    0px 1.12694px 2.50431px rgba(0, 0, 0, 0.01),
    0px 2.01027px 4.46726px rgba(0, 0, 0, 0.0119221),
    0px 3.75998px 8.35552px rgba(0, 0, 0, 0.0143771),
    0px 9px 20px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  transition: all .075s ease-out;

  &:hover {
    transform: translateY(-1px);
    border: 1px solid var(--color-neutrals-400);
  }

  &:active {
    transform: translateY(1px);
  }
}

.item-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  background-color: var(--secondary-background-color);
  border-radius: 50%;
  flex-shrink: 0;
}

.item-name {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-neutrals-700);
  font-weight: 600;
  flex-grow: 1;
}

.item-description {
  font-size: 10px;
  line-height: 24px;
  color: var(--color-neutrals-700);
  font-weight: 600;
  flex-grow: 1;
}

.item-copy {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1005;
}

.item-sublabel {
  font-size: 10px;
  color: var(--color-neutrals-600);
}

.has-sublabel {
  height: 52px;

  .item-name {
    line-height: 20px;
  }
}

// ==============================================================
// Dark mode
// ==============================================================
:global(.dark-mode) {
  .item-container {
    border: 1px solid var(--color-neutrals-400);
  
    &:hover {
      border: 1px solid var(--color-neutrals-500);
    }
  }
}