
ul.contributors-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
    padding: 0;
    list-style-type: none;
    
    a[target='__blank']:after {
        display: none;
    }
}

.contributor-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 0 1px var(--color-neutrals-300);
    border-radius: 4px;
    transition: all .1s var(--ease-out-quad);

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        box-shadow: 0 0 0 1px var(--color-neutrals-400), 0px 0.249053px 0.553451px rgba(0, 0, 0, 0.00562291), 0px 0.598509px 1.33002px rgba(0, 0, 0, 0.00807786), 0px 1.12694px 2.50431px rgba(0, 0, 0, 0.01), 0px 2.01027px 4.46726px rgba(0, 0, 0, 0.0119221), 0px 3.75998px 8.35552px rgba(0, 0, 0, 0.0143771), 0px 9px 20px rgba(0, 0, 0, 0.02);
        transform: translateY(-2px);
        cursor: pointer;
    }
    
    &:active {
        transform: translateY(1px);
    }
}

.contributor-item-primary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    text-align: center;
    border: none;
}

.contributor-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: var(--color-neutrals-300);
    overflow: hidden;
    font-size: 13px;
}

.contributor-avatar-link {
    border: none;
}

.contributor-name {
    margin: 8px 0 1px;
    color: var(--color-brand-800);
    
    a.contributor-name-link {
        font-size: 16px;
     border: none;
    }
}

h6.contributor-contributions {
    margin: 0;
    font-weight: 400;
    line-height: 18px;
    
    a {
        color: var(--color-neutrals-600);
        border: none;
        font-size: 12px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.contributor-roles-container {
    display: flex;
    justify-content: center;
    padding: 6px 0;
    border-top: 1px dotted var(--color-neutrals-300);
    list-style-type: none;
}

.contributor-role {
    margin-right: 6px;
    font-size: 14px;

    &:last-child {
        margin: 0;
    }
}

// ==============================================================
// Responsive styles
// ==============================================================

@media screen and (max-width: 900px) {
  ul.contributors-container {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media screen and (max-width: 724px) {
  ul.contributors-container {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media screen and (max-width: 600px) {
  ul.contributors-container {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

// ==============================================================
// Dark mode
// ==============================================================

:global(.dark-mode) {
    .contributor-item {
        box-shadow: 0 0 0 1px var(--color-neutrals-400), 0px 0.664142px 0.553451px rgba(0, 0, 0, 0.0281146), 0px 1.59602px 1.33002px rgba(0, 0, 0, 0.0403893), 0px 3.00517px 2.50431px rgba(0, 0, 0, 0.05), 0px 5.36071px 4.46726px rgba(0, 0, 0, 0.0596107), 0px 10.0266px 8.35552px rgba(0, 0, 0, 0.0718854), 0px 24px 20px rgba(0, 0, 0, 0.1);
    }
}