.footer-container {
  width: 100%;
  padding: 20px 0;
  margin: 40px auto 0;
  align-items: center;
  background-color: var(--color-neutrals-800);
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;  
  margin: 0 auto;
}

.footer-logo-container {
  display: flex;
  align-items: center;
}

.footer-logo {
  display: block;
  width: 182px;
  height: 41px;
  position: relative;
  background-image: url('../images/footer-logo.svg');
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  padding-right: 15px;
  border: none;

  &.has-edit-button:after {
    content: "";
    height: 37px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 4px;
    margin-left: 15px;
    border-right: 1px dotted var(--footer-text-color);
    opacity: .36;
    overflow: visible;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  font-size: 12px;
  align-self:center;
  justify-content: center;
  align-items: baseline;
  color: var(--footer-text-color);

  small {
    font-size: 12px;
  }
}

.version:after {
  content: "";
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
  height: 14px;
  width: 0;
  opacity: .5;
  border-right: 1px dotted var(--footer-text-color); 
  position: relative;
  top: 2px;
}


.footer-nav-links {
  display: flex;
  list-style-type: none;
  font-size: 12px;
}

.footer-nav-link-item {
  margin-right: 20px;
  color: var(--color-neutrals-900);

  &:last-child {
    margin-right: 0;
  }
}

.footer-nav-link {
  color: var(--footer-text-color);
  border: none;
  transition: color .075s ease-out;

  &:hover {
    color: #fff;
  }
}

.edit-button {
  display: flex;
  margin-left: 15px;
  padding: 4px 7px;
  position: relative; 
  top: 1px;
  font-size: 12px;
  border: 1px solid var(--footer-text-color);
  border-radius: 2px;
  color: var(--footer-text-color);
  opacity: .8;
  transition: all .1s var(--ease-out-quad);

  &:hover {
    opacity: 1;
    transform: translateY(-1px);
  }
  
  &:active {
    transform: translateY(1px);
  }
}

.edit-button-icon {
  margin-right: 5px;
}

@media screen and (max-width: 1240px) {
  .footer-container {
    padding: 20px 28px;
  }
}

@media screen and (max-width: 900px) {
  .footer-nav-links {
    display: none;
  }

  .footer-contents {
    justify-content: center;
  }

  .footer-logo {
    width: 160px;
    height: 34px;
    background-size: 160px 34px;
    z-index: 100;
  }
}

@media screen and (max-width: 480px) {
  .footer-logo-container {
    flex-direction: column;
  }

  .footer-logo {
    margin-bottom: 10px;
    padding: 0;
    
    &:after {
      display: none;
    }
  }

}