.primary-header-container {
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 94px;
  max-width: 1180px;
  margin: 0 auto;
  align-items: center;

  &:not(.has-header-bg) {
    border-bottom: 1px solid var(--color-neutrals-100);
  }
}

.primary-header-logo {
  display: block;
  width: 247px;
  height: 53px;
  background-image: url('../images/logo.svg');
  border: grey;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.primary-header-nav-links {
  display: flex;
  list-style-type: none;
  font-size: 14px;
}

.primary-header-nav-link-item {
  margin-right: 24px;
  font-weight: 600;
  color: var(--color-neutrals-900);

  &:last-child {
    margin-right: 0;
  }
}

a.primary-header-nav-link {
  color: var(--color-neutrals-900);
  border: none;
  transition: color .05s ease-out;

  &:hover {
    color: var(--color-brand-900);
  }
}

.mobile-menu-button {
  width: 26px;
  height: 19px;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-image: url('../images/icon-menu.svg');
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

.primary-header-mobile-nav {
  display: none;
}

.primary-header-mobile-nav-links {
  display: none;
}

div.exists-in-active-mobile-menu {
  position: relative;
  z-index: 10000;
  background-color: var(--color-neutrals-100);
}

.has-header-bg{
  padding-bottom: 8px;
  
  &:after {
    content: '';
    position: absolute;
    height: 230px;
    top: -99px;
    right: 0;
    left: 0;
    transform: skewY(-2.75deg);
    z-index: -1;
    background: linear-gradient(280.65deg, rgba(255, 255, 255, 0.52) 1.64%, rgba(255, 255, 255, 0) 99.19%), #F4F5F5;
  }
}

// ==============================================================
// Responsive styles
// ==============================================================

@media screen and (max-width: 1240px) {
  .primary-header-container {
    padding: 20px 28px;
  }
}

@media screen and (max-width: 728px) {
  .primary-header-logo {
    width: 160px;
    height: 34px;
    background-size: 160px 34px;
    z-index: 10000;
  }

  .primary-header-nav-links {
    display: none;
  }

  .primary-header-mobile-nav {
    display: block;
  }

  .mobile-menu-active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;

    .mobile-menu-button {
      width: 20.5px;
      height: 20.5px;
      background-size: 20.51px 20.51px;
      position: absolute;
      top: 58px;
      right: 32px;
      background-image: url('../images/icon-menu-close.svg');
    }

    .primary-header-mobile-nav-links {
      display: block;
      list-style-type: none;
      border-top: 1px dotted var(--color-neutrals-300);
      margin-top: 108px;
      padding: 10px 28px;
      line-height: 50px;
    }

    .primary-header-nav-link {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .primary-header-mobile-nav-links .primary-header-nav-link-item {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      font-weight: 400;
    }
  }

  .has-header-bg:after {
    top: -120px;
    transform: skewY(-1.75deg);
  }
}

@media screen and (max-width: 480px) {
  .mobile-menu-active {
    .mobile-menu-button {
      top: 28px;
    }
    
    .primary-header-mobile-nav-links {
      margin-top: 76px;
    }
  }
  
  .has-header-bg:after {
    top: -155px;
    transform: skewY(-3deg);
  }
}