.featured-internal-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: 1fr  auto;
  grid-gap: 16px;
}

@media screen and (max-width: 480px) {
  .featured-internal-projects {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }    
}