.featured-external-projects {
  margin: 45px 0 160px;
}

.featured-external-projects-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px dotted var(--border-color);
  margin-bottom: 30px;
}

.featured-external-projects-title {
  line-height: 40px;
  font-size: 2rem;
}

.featured-external-projects-description {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: var(--color-neutrals-600);
}

.external-projects-list {
  position: relative;
  z-index:100;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.featured-external-project {
  margin-top: 50px;
  margin-right: 20px;
  text-align: center;
  background-color: var(--primary-background-color);
  position: relative;
  z-index: 300;
  box-shadow: 0px 1.49432px 1.16225px rgba(27, 81, 87, 0.0140573), 0px 3.59106px 2.79304px rgba(27, 81, 87, 0.0201946), 0px 6.76164px 5.25905px rgba(27, 81, 87, 0.025), 0px 12.0616px 9.38125px rgba(27, 81, 87, 0.0298054), 0px 22.5599px 17.5466px rgba(27, 81, 87, 0.0359427), 0px 54px 42px rgba(27, 81, 87, 0.05);

  &:last-child {
    margin-right: 0;
  }
}

.featured-external-project-icon {
  flex-shrink: 0;
  display: inline-block;
  width: 88px;
  height: 88px;
  margin-top: -50px;
  box-shadow: 0 0 0 4px var(--primary-background-color);
  border-radius: 50%;
}

.featured-external-project-title {
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 0 24px;
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  color: var(--color-neutrals-900);
}

.featured-external-project-description {
  margin-bottom: 16px;
  padding: 0 24px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-neutrals-600);
}

.featured-external-project-footer {
  display: flex;
  justify-content: stretch;
  height: 36px;
  margin-top: 24px;
  align-items: center;
  background-color: var(--color-neutrals-050);
  border-top: 1px dotted var(--color-neutrals-300);
}

.featured-external-project-footer-link {
  display: block;
  width: 50%;
  height: 100%;
  line-height: 36px;
  font-size: 12px;
  color: var(--color-neutrals-600);
  text-align: center;
  border-bottom: none;
  transition: all .1s var(--ease-out-quad);

  &:hover {
    color: var(--color-neutrals-800);
    background-color: var(--color-neutrals-100);
  }

  &:first-child {
    border-right: 1px dotted var(--color-neutrals-300);
  }
}

// ==============================================================
// Responsive Styles
// ==============================================================

@media screen and (max-width: 1200px) {
  .featured-external-projects {
    padding: 0 28px;
  }

  .external-projects-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .featured-external-projects-header {
    flex-direction: column;
    text-align: center;
    align-items: stretch;
  }

  .featured-external-projects-title {
    text-align: center;
    margin-bottom: 0;
  }

  .featured-external-projects-description {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1150px) {
  .featured-external-projects {
    margin-bottom: 130px;

    &:before {
      height: 490px;
    }
  }
}

@media screen and (max-width: 900px) {
  .featured-external-projects:after {
    display: none;
  }
}

@media screen and (max-width: 724px) {
  .featured-external-projects:before {
    height: 640px;
  }

  .external-projects-list {
    grid-gap: 16px;
    grid-template-columns: 1fr;
  }

  .featured-external-projects {
    margin-top: 40px;
  }

  .featured-external-projects-description {
    line-height: 23px;
  }
}

@media screen and (max-width: 400px) {
  .featured-external-projects:before {
    height: 775px;
  }
}

// ==============================================================
// Dark mode
// ==============================================================
:global(.dark-mode) {
  .featured-external-projects {
    &:before {
      background-color: var(--border-color);
      opacity: .5;
    }

    &:after {
      display: none;
    }
  }
}
