.page-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0; // because nested flexbox elements in safari are buggy
  margin-bottom: 30px;
  padding-bottom: 20px;
  text-align: center;

  &.has-separator {
    border-bottom: 2px dotted var(--border-color);
  }

  &.has-separator-without-icon {
    margin-top: 50px;
  }

  &:not(.has-separator) {
    margin-top: 55px;
  }

  &.blog-post-header:not(.has-separator) {
    margin-top: 74px;
  }
}

.page-heading-icon {
  display: block;
  width: 80px;
  height: 80px;
  border: 4px solid var(--primary-background-color);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-neutrals-400);
  position: relative;
}

  .page-title {
    margin: 8px 0 0;
    max-width: 750px;

    .blog-post-header & {
      font-size: 48px;
      max-width: 700px;
      line-height: 54px;
    }
  }

  .tag-link {
    &:link, &:visited {
      text-decoration: none;
      border-bottom: none;
    }
    text-decoration: none;
    border-bottom: none;
  }

  li.tag-with-no-link {
    .tag-value {
      position: relative;
      top: 1px;
    }

    &:hover .tag-name,
    &:hover .tag-value {
      background-color: var(--color-neutrals-100);
      color: var(--color-neutrals-600);
    }
  }

  .page-subheader {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 3px 0;
    max-width: 800px;
    font-family: var(--primary-font-family);
    font-size: 18px;
    line-height: 29px;
    color: var(--color-neutrals-600);

    .blog-post-header & {
      margin-top: 5px;
    }
  }

  .page-heading-tag-list {
    margin-top: 12px;
    padding: 0;
    display: flex;
    list-style-type: none;
  }

  .page-heading-tag-list-tag {
    margin-right: 8px;
    
    a {
      display: flex;
      color: var(--color-neutrals-600);
      transition: all .09s var(--ease-out-quad);
      
      &:hover {
        transform: translateY(-1px);
      }
      
      &:active {
        transform: translateY(1px);
      }
    }

    &:hover .tag-name,
    &:hover .tag-value {
      background-color: rgba(112, 204, 210, 0.17);
      color: var(--color-brand-800);
    }

    &:last-child {
      margin-right: 0;
    }
  }

.tag-name,
.tag-value {
  display: inline-block;
  max-height: 22px;
  padding: 4px 6px;
  line-height: 15px;
  background: var(--color-neutrals-100);
  color: var(--color-neutrals-600);
  transition: all .09s var(--ease-out-quad);
}

.tag-name {
  padding-left: 8px;
  margin-right: 1px;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
  border-radius: 3px 0 0 3px;
}

.tag-value {
  padding-right: 8px;
  font-size: 12px;
  border-radius: 0 3px 3px 0;
}

.blog-meta {
  font-family: var(--tertiary-font-family);
  color: var(--color-neutrals-600);
}

// ==============================================================
// Responsive styles
// ==============================================================
@media screen and (max-width: 724px) {
  .page-heading-container {
    box-sizing: border-box;
    width: calc(100% - 56px);
    margin: 35px auto 30px;
    padding-bottom: 25px;
    
    &.has-separator-without-icon {
      margin: 35px auto 30px;
    }

    &.has-icon {
      margin-top: -20px;
    }
  }

  .page-heading-container:not(.has-separator):not(.has-icon) {
    margin-top: 30px;
  }
  
  .page-heading-tag-list {
    display: block;
  }
  
  .page-heading-tag-list-tag {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 8px;

    a {
      display: inline-flex;
    }
  }
}

@media screen and (max-width: 480px) {
  .page-heading-container {
    margin: 25px auto 30px;
    
    &.has-separator-without-icon {
      margin: 25px auto 30px;
    }
    
    &.has-icon {
      margin-top: 10px;
    }

    .page-heading-icon {
      margin-top: 6px;
      width: 70px;
      height: 70px;
    }
  }

  .page-heading-container:not(.has-separator):not(.has-icon) {
    margin-top: 25px;
    margin-bottom: 20px;
  } 
  
  .page-title {
    margin-top: 16px;
    font-size: 32px;
    width: 100%;
    line-height: 34px;
  }

  .page-subheader {
    margin-top: 4px;
    font-size: 16px;
    line-height: 24px;
  }
}

// ==============================================================
// Dark mode
// ==============================================================
:global(.dark-mode) {
  .page-heading-icon {
    border-width: 6px;
    margin-top: -2px;
  }
  .page-heading-tag-list-tag {    
    &:hover .tag-name,
    &:hover .tag-value {
      transform: translateY(-1px);
      background-color: var(--color-neutrals-300);
      color: var(--color-brand-800)
    }
  }
}