.project-module {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  text-align: center;
  background-color: #FFFFFF;
  position: relative;
  z-index: 100;
  box-shadow: 0px 2.76726px 2.21381px rgba(0, 85, 90, 0.0168687), 0px 6.6501px 5.32008px rgba(0, 85, 90, 0.0242336), 0px 12.5216px 10.0172px rgba(0, 85, 90, 0.03), 0px 22.3363px 17.869px rgba(0, 85, 90, 0.0357664), 0px 41.7776px 33.4221px rgba(0, 85, 90, 0.0431313), 0px 100px 80px rgba(0, 85, 90, 0.06);

  &:last-child {
    margin-right: 0;
  }
}

.project-module-icon {
  display: inline-block;
  flex-shrink: 0;
  width: 88px;
  height: 88px;
  margin-top: -50px;
  margin-bottom:10px;
  box-shadow: 0 0 0 4px #fff;
  border-radius: 50%;
}

.project-module-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 24px;
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  color: var(--color-neutrals-900);
}

.project-module-description {
  margin-top: 6px;
  margin-bottom: 0;
  padding: 0 24px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-neutrals-600);
}

.project-module-footer {
  width: 100%;
  display: flex;
  justify-content: stretch;
  height: 36px;
  align-items: center;
  margin-top: 16px;
  background-color: var(--color-neutrals-050);
  border-top: 1px dotted var(--color-neutrals-300);
}

.project-module-footer-link {
  display: block;
  text-align: Center;
  height: 100%;
  line-height: 36px;
  flex-grow: 1;
  font-size: 12px;
  color: var(--color-neutrals-600);
  text-align: center;
  border-bottom: none;
  transition: all .1s var(--ease-out-quad);

  // &:first-child {
  //   border-right: 1px dotted var(--color-neutrals-300);
  // }
}

a.project-module-footer-link:hover {
    color: var(--color-neutrals-800);
    background-color: var(--color-neutrals-100);
}

.project-module-primary-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.project-module-copy {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.style-row {
  flex-grow: 0;
  margin-top: 0;

  .project-module-copy {
    align-items: flex-start;
  }

  .project-module-button {
    display: none;
  }

  .project-module-primary-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    text-align: left;
    padding: 16px 24px;
  }

  .project-module-icon {
    width: 72px;
    height: 72px;
    margin: 0;
  }

  .project-module-title {
    margin: 0 0 4px 0;
    text-align: left;
    box-sizing: border-box;
    // width: 100%;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }

  .project-module-description {
    padding: 0 0 0 24px;
    margin-bottom: 0;
    margin-top: 2px;
  }

  .project-module-footer {
    margin-top: 0;
  }
}