.project-module {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  text-align: center;
  background-color: #FFFFFF;
  position: relative;
  z-index: 100;
  box-shadow: 0px 2.76726px 2.21381px rgba(0, 85, 90, 0.0168687), 0px 6.6501px 5.32008px rgba(0, 85, 90, 0.0242336), 0px 12.5216px 10.0172px rgba(0, 85, 90, 0.03), 0px 22.3363px 17.869px rgba(0, 85, 90, 0.0357664), 0px 41.7776px 33.4221px rgba(0, 85, 90, 0.0431313), 0px 100px 80px rgba(0, 85, 90, 0.06);

  &:last-child {
    margin-right: 0;
  }
}

.project-module-icon {
  display: inline-block;
  width: 88px;
  height: 88px;
  margin-top: -50px;
  box-shadow: 0 0 0 4px #fff;
  border-radius: 50%;
}

.project-module-title {
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 0 24px;
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  color: var(--color-neutrals-900);
}

.project-module-description {
  margin-bottom: 16px;
  padding: 0 24px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-neutrals-600);
}

.project-module-footer {
  width: 100%;
  display: flex;
  justify-content: stretch;
  height: 36px;
  margin-top: 24px;
  align-items: center;
  background-color: var(--color-neutrals-050);
  border-top: 1px dotted var(--color-neutrals-300);
}

.project-module-footer-link {
  display: block;
  text-align: Center;
  height: 100%;
  line-height: 36px;
  flex-grow: 1;
  font-size: 12px;
  color: var(--color-neutrals-600);
  text-align: center;
  border-bottom: none;
  transition: all .1s var(--ease-out-quad);

  // &:first-child {
  //   border-right: 1px dotted var(--color-neutrals-300);
  // }
}

a.project-module-footer-link:hover {
    color: var(--color-neutrals-800);
    background-color: var(--color-neutrals-100);
}