.search-section {
  margin-top: -24px;
}

.search-container {
  max-width: 780px;
  margin: 0 auto 16px;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 18px;
  top: 16px;
}

.search-input {
  width: 100%;
  padding: 14px 16px;
  padding-left: 52px;
  background: var(--color-background);
  border: 1px solid var(--color-neutrals-400);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--primary-font-family);
  color: var(--color-neutrals-700);
  transition: all .1s var(--ease-out-quad);
  box-shadow: 
    0px 0.415088px 0.553451px rgba(31, 44, 44, 0.00562291), 
    0px 0.997515px 1.33002px rgba(31, 44, 44, 0.00807786), 
    0px 1.87823px 2.50431px rgba(31, 44, 44, 0.01), 
    0px 3.35045px 4.46726px rgba(31, 44, 44, 0.0119221), 
    0px 6.26664px 8.35552px rgba(31, 44, 44, 0.0143771), 
    0px 15px 20px rgba(31, 44, 44, 0.02);

  &:hover {
    border: 1px solid var(--color-neutrals-500);
  }
  
  &:focus {
    border: 1px solid rgba(#007E8A, .6);
    outline: none;
    box-shadow: 0 0 0 4px rgba(#007E8A, .1);
  }
}

.search-filters {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.search-filter {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.show-filters-button {
  display: none;  
  font-size: 14px;
  color: var(--color-brand-800);
  border-bottom: 1px dotted var(--color-brand-800);
}

// ==============================================================
// Responsive styles
// ==============================================================

@media screen and (max-width: 600px) {
  .search-filters {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .search-filter {
    display: inline-block;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .mobile-filters-hidden {
    margin-top: -10px;
    
    .search-filter {
      display: none;
    }    
    
    .showFilters {
      display: none;
    }
    
    .show-filters-button {
      display: inline-flex;
      align-items: center;

      svg {
        margin-left: 4px;
      }
    }
  }
}

// ==============================================================
// Dark mode
// ==============================================================