.search-section {
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-between;
  flex-direction: column;
}

.search-container {
  max-width: 780px;
  margin: 0 auto 16px;
  position: relative;
}

.search-input {
  max-width: 450px;
}

.search-filters {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.search-filter {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.show-filters-button {
  display: none;
  font-size: 14px;
  color: var(--color-brand-800);
  border-bottom: 1px dotted var(--brand-button-primary-accent);
}

// ==============================================================
// Responsive styles
// ==============================================================

@media screen and (max-width: 600px) {
  .search-filters {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .search-filter {
    display: inline-block;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .mobile-filters-hidden {
    margin-top: -10px;

    .search-filter {
      display: none;
    }

    .showFilters {
      display: none;
    }

    .show-filters-button {
      display: inline-flex;
      align-items: center;

      svg {
        margin-left: 4px;
      }
    }
  }
}

// ==============================================================
// Dark mode
// ==============================================================

