.project {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid var(--color-neutrals-300);
  box-sizing: border-box;
  box-shadow: 0px 0.249053px 0.553451px rgba(0, 0, 0, 0.00562291), 0px 0.598509px 1.33002px rgba(0, 0, 0, 0.00807786), 0px 1.12694px 2.50431px rgba(0, 0, 0, 0.01), 0px 2.01027px 4.46726px rgba(0, 0, 0, 0.0119221), 0px 3.75998px 8.35552px rgba(0, 0, 0, 0.0143771), 0px 9px 20px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  transition: all .1s var(--ease-out-quad);

  &:hover {
    transform: translateY(-2px);
    border: 1px solid var(--color-neutrals-400);
  }
  
  &:active {
    transform: translateY(2px);
  }
}

.project-icon {
  display: block;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  margin-right: 14px;
  position: relative;
  overflow: hidden;
  text-indent: -500%;
  border-radius: 50%;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: var(--color-neutrals-400);
    background-image: url(../images/page-heading-icon-placeholder.jpg);
    background-size: 120% 120%;
    background-position: center center;
  }
}

.project-title {
  margin-top: 0;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 19ch;
}

.project-description {
  display: -webkit-box;
  margin-top: 0;
  margin-bottom: 4px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-neutrals-600);
}

// ==============================================================
// Responsive styles
// ==============================================================
@media screen and (max-width: 600px) {
  .project-title {
    max-width: none;
  }    
}

@media screen and (max-width: 480px) {
  .project-title {
    max-width: 19ch;
  }    
}