name: Trigger Netlify Build

on:
  issue_comment:
    types: [created]

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: deploy to preview mode
        if: contains(github.event.comment.body, 'netlify build')
        uses: thundermiracle/netlify-deploy@v3
        with:
          node: 20
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN}}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID}}
          deploy-dir: './public'
          extra-cache-path: |
            .cache
            public
